@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    padding: 0;
    margin: 0;
    background-image: url('../public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}